@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/600.css';
@import '@fontsource/open-sans/700.css';

@theme {
  --font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
  --color-primary: rgb(61 98 148);
  --color-secondary: rgb(86 138 200);
  --color-accent: rgb(86 185 146);
}

.dark {
  --color-primary: rgb(96 133 181);
  --color-secondary: rgb(133 173 224);
  --color-accent: rgb(96 204 162);
}

html,
body,
#app {
  height: 100%;
}
body {
  @apply font-sans bg-gray-50 text-gray-900;
}
